* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  background: url('/images/bg-top.svg'), url('/images/bg-bottom.svg'), hsl(240, 78%, 98%);
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 0, 0 100%;
}

#root {
  padding: 1.25rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.title {
  color: hsl(233, 13%, 49%);
}

.switch-container {
  color: hsl(234, 14%, 74%);
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.switch {
  width: 5rem;
  height: 2.5rem;
  border-radius: 1.875rem;
  background-image: linear-gradient(180deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 0.313rem;
  position: relative;
  display: flex;
  align-items: center;
}

.switch:hover {
  cursor: pointer;
  filter: opacity(0.8);
}

.switch-circle {
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  transition: all 0.3s;
}

.switch-circle.annual {
  left: 0%;
  transform: none;
}

.pricing-wrapper {
  display: flex;
  align-items: center;
}

.pricing-container {
  background-color: white;
  color: hsl(232, 13%, 33%);
  padding: 1.875rem;
  width: 25rem;
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  text-align: center;
  position: relative;
}

.pricing-container.center {
  border-radius: 0.625rem;
  height: 35rem;
  background-image: linear-gradient(180deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 0.625rem;
  color: white;
}

.pricing-container.center .divider {
  background-color: white;
}

.pricing-container.left {
  border-radius: 0.625rem 0 0 0.625rem;
}

.pricing-container.right {
  border-radius: 0 0.625rem  0.625rem 0;
}

.pricing-price {
  font-size: 0.938rem;
}

.pricing-price {
  font-size: 4.375rem;
}

.pricing-types {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.divider {
  width: 100%;
  height: 0.063rem;
  background-color: hsl(232, 13%, 33%);;
}

.pricing-btn {
  width: 100%;
  height: 3.125em;
  border-radius: 0.625rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: linear-gradient(90deg,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
}

.pricing-btn:hover {
  cursor: pointer;
  border: solid 0.063rem hsl(233, 13%, 49%);
  background: white;
  color: hsl(237, 63%, 64%)
}

.pricing-container.center .pricing-btn {
  background: white;
  color: hsl(237, 63%, 64%)
} 

.pricing-container.center .pricing-btn:hover {
  border: solid 0.063rem white;
  color: white;
  background: transparent;
} 


@media screen and (max-width: 68.75rem) {
  main {
    width: 100%;
  }
  .pricing-wrapper {
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
  }
  .pricing-container, .pricing-container.left,.pricing-container.right {
    width: 100%;
    border-radius: 0.625rem;
  }
}